# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: '11'
    - name: Build with Maven
      run: mvn -B package --file src/core/pom.xml

  acceptance-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: '11'
    - name: Run tests
      run: mvn -B test --file src/acceptance-tests/pom.xml
    - name: Generate Cluecumber Test Report
      run: mvn -B cluecumber-report:reporting --file src/acceptance-tests/pom.xml
    - name: Publish Test Report (Annotations)
      if: ${{ always() }}
      uses: deblockt/cucumber-report-annotations-action@v1.7
      with:
        name: "Acceptance tests"
        path: "**/acceptance-tests-report.json"
        access-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Publish Test Report (Cluecumber | GitHub Pages)
      if: ${{ always() }}
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: src/acceptance-tests/target/cluecumber-report
        destination_dir: "${{ github.sha }}"
